<!DOCTYPE html>
<html>
<head>
    <title>Dupree Dining</title>

    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

    <!-- Style customizations -->
    <link rel="stylesheet" href="css/main.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div id="parse_com_app">

    <div class="title">
        <img src="logo.png" class="img-rounded">
    </div>

    <div id="content">

    </div>

</div>

<!-- Templates -->

<script type="text/template" id="forgotPasswordTemplate">
    <div class="container">

        <form class="form-signin" role="form">
            <h2 class="form-signin-heading">Please password restore details: </h2>
            <input type="text" class="form-control" placeholder="Email address" required autofocus>
            <button id="forgotPassword" class="btn btn-lg btn-primary btn-block form-button" type="button">Restore
                Password
            </button>
        </form>

    </div>
</script>

<script type="text/template" id="recipeDetailTemplate">
    <div class="container">

       <div class="panel panel-default">
  <div class="panel-heading">RECIPE DETAIL VIEW</div>
  <div class="panel-body">


        <form class="form-signin" role="form">
            <h2 class="form-signup-heading">Please fill equipment details:</h2>
            <input type="text" class="form-control" id="new-equipment-name" value="<%= recipe.NAME %>" placeholder="Name" required autofocus/>
            <input type="text" class="form-control" id="new-equipment-type" value="<%= recipe.Cook %>" placeholder="Type" required/>
        </form>

        <table class="table">
                <thead>
                <tr>

                    <h2>
                        <th colspan="2" style="text-align: center">Select a Recipe Category:</th>

                    </h2>
                </tr>
                </thead>

                <tbody>

                <% if (ingredients.length == 0) { %>
                <tr>
                    <td colspan="2" class="title"> No ingredients</td>
                </tr>
                <% } else { %>
                <!-- else begin -->
                <% _.each(ingredients, function(INGREDIENT) { %>
                <tr>
                    <td style="width: 80%">

                            <%= INGREDIENT.NAME %> <br/>

                    </td>

                </tr>
                <% }); %>

                <!-- end of else -->
                <% } %>

                </tbody>
            </table>
  </div>
</div>
    </div>
</script>


<script type="text/template" id="categoryListTemplate">
    <div class="container">

        <form class="form-signin" role="form">

            <table class="table table-bordered">
                <thead>
                <tr>

                    <h2>
                        <th colspan="2" style="text-align: center">Select a Recipe Category:</th>

                    </h2>
                </tr>
                </thead>

                <tbody>

                <% if (categories.length == 0) { %>
                <tr>
                    <td colspan="2" class="title"> No categories</td>
                </tr>
                <% } else { %>
                <!-- else begin -->
                <% _.each(categories, function(CATEGORY) { %>
                <tr>
                    <td style="width: 80%">

                        <h2>
                            <%= CATEGORY.CAT_NAME %> <br/>

                        </h2>

                    </td>

                    <td>
                        <a href="#/category/<%=CATEGORY.objectId %>" class="btn btn-success">View Recipes</a>
                    </td>
                </tr>
                <% }); %>

                <!-- end of else -->
                <% } %>

                </tbody>
            </table>
        </form>

        <div class="row">
            <div class="col-md-6">
                <button type="button" id="logoutBtn" class="btn btn-danger btn-sm btn-block">Logout</button>
            </div>

            <div class="col-md-6">
                <a href="#/create-category" id="createCategory" class="btn btn-primary btn-sm btn-block">Add New Recipe
                    Category</a>
            </div>


        </div>

    </div>
</script>

<script type="text/template" id="recipeListTemplate">
    <div class="container">

        <div class="panel panel-default">


            <table class="table table-bordered">
                <thead>
                <tr>

                    <h2>
                        <th colspan="2" style="text-align: center">Select a Recipe to View</th>

                    </h2>
                </tr>
                </thead>

                <tbody>

                <% if (recipes.length == 0) { %>
                <tr>
                    <td colspan="2" class="title"> no recipes</td>
                </tr>
                <% } else { %>
                <!-- else begin -->
                <% _.each(recipes, function(recipe) { %>
                <tr>
                    <td style="width: 80%">

                        <h3>
                            <%= recipe.NAME %> <br/>
                        </h3>
                            <%= recipe.Cook %>
                            <span class="badge pull-right">

                            <%=recipe.Cook_Time%> 
                            </span>

                    </td>

                    <td>
                        <a href="#/recipe/<%=recipe.objectId %>" class="btn btn-success"> <span class="glyphicon glyphicon-cutlery"></span> View Recipe</a>
                        </button
                    </td>
                </tr>
                <% }); %>

                <!-- end of else -->
                <% } %>

                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-md-6">
                <button type="button" id="logoutBtn2" class="btn btn-danger btn-sm btn-block">Logout</button>
            </div>

            <div class="col-md-6">
                <a href="#/create-category" id="createRecipe" class="btn btn-primary btn-sm btn-block">Add New Recipe</a>
            </div>

        </div>
    </div>

</script>

<script type="text/template" id="loginTemplate">
    <div class="container">

        <form id="signInForm" class="form-signin" role="form">
            <h2 class="form-signin-heading">Please Sign In</h2>
            <input type="text" class="form-control" id="signin-username" placeholder="Username" required autofocus>
            <input type="password" class="form-control" id="signin-password" placeholder="Password" required>
            <!-- place for errors -->
            <div class="error" style="display:none"></div>

            <button class="btn btn-lg btn-primary btn-block form-button" id="signIn" type="button">Sign In</button>
            <div id="extraLinks">
                <a href="#/signup">Sign Up</a> <br/> <br/>
                <a href="#/forgotPassword">Forgot Password</a> <br/>
            </div>
        </form>

    </div>
</script>

<script type="text/template" id="categoryNew">
    <div class="container">

        <form class="form-signin" role="form">
            <h2 class="form-signup-heading">Add New Recipe Category Name:</h2>
            <input type="text" class="form-control" id="new-category-name" placeholder="Name" required autofocus/>


            <div id="create-category-error" class="error" style="display:none"></div>
            <button class="btn btn-lg btn-primary btn-block form-button" id="saveGroup" type="button">Create New
                Category
            </button>
            <a href="#/categories" class="btn btn-lg btn-block btn-danger">Cancel</a>
        </form>

    </div>
</script>

<script type="text/template" id="equipmentEdit">
    <div class="container">

        <form class="form-signin" role="form">
            <h2 class="form-signup-heading">Please fill equipment details:</h2>
            <input type="text" class="form-control" id="new-equipment-name" placeholder="Name" required autofocus/>
            <input type="text" class="form-control" id="new-equipment-type" placeholder="Type" required/>
            <input type="text" class="form-control" id="new-equipment-value" placeholder="Value" required/>
            <input type="text" class="form-control" id="new-equipment-notes" placeholder="Notes" required/>

            <div id="equipment-edit-error" class="error" style="display:none"></div>
            <button class="btn btn-lg btn-primary btn-block form-button" id="saveEquipment" type="button">Save</button>
            <button class="btn btn-lg btn-block btn-danger">Cancel</button>
        </form>

    </div>
</script>

<script type="text/template" id="computerEdit">
    <div class="container">

        <form class="form-signin" role="form">
            <h2 class="form-signup-heading">Please fill equipment details:</h2>
            <input type="text" class="form-control" id="new-computer-name" placeholder="Name" required autofocus/>
            <input type="text" class="form-control" id="new-computer-type" placeholder="Type" required/>
            <input type="text" class="form-control" id="new-computer-value" placeholder="Value" required/>
            <input type="text" class="form-control" id="new-computer-notes" placeholder="Notes" required/>

            <div id="computer-edit-error" class="error" style="display:none"></div>
            <button class="btn btn-lg btn-primary btn-block form-button" id="saveComputer" type="button">Save</button>
            <button class="btn btn-lg btn-block btn-danger">Cancel</button>
        </form>

    </div>
</script>

<script type="text/template" id="groupEdit">
    <div class="container">

        <form class="form-signin" role="form">
            <h2 class="form-signup-heading">Please update Group details:</h2>
            <input type="text" class="form-control" id="edit-group-name" placeholder="Name" value="<%= group.name %>"
                   required autofocus/>
            <input type="text" class="form-control" id="edit-group-description" placeholder="Description"
                   value="<%= group.description %>" required/>
            <input type="text" class="form-control" id="edit-group-notes" placeholder="Notes" value="<%= group.notes %>"
                   required/>
            <input type="file" class="form-control" id="edit-group-logo" placeholder="Logo" required/>

            <div id="save-group-error" class="error" style="display:none"></div>
            <button class="btn btn-lg btn-primary btn-block form-button" id="saveEditGroup" type="button">Save Group
            </button>
            <a href="#/group/<%= group.objectId %>" class="btn btn-lg btn-block btn-danger">Cancel</a>
        </form>

    </div>
</script>

<script type="text/template" id="signUpTemplate">
    <div class="container">

        <form id="signUpForm" class="form-signin" role="form">
            <h2 class="form-signup-heading">Please fill info:</h2>

            <div id="signup-error" class="error" style="display:none"></div>
            <input type="text" class="form-control" id="signup-username" placeholder="Username"/>
            <input type="email" class="form-control" id="signup-email" placeholder="Email address" required autofocus>
            <input type="password" class="form-control" id="signup-password" placeholder="Password" required>
            <input type="password" class="form-control" id="signup-password2" placeholder="Password Again" required>
            <input type="text" class="form-control" id="signup-name" placeholder="Name" required>
            <input type="text" class="form-control" id="signup-type" placeholder="Type" required>
            <input type="text" class="form-control" id="signup-value" placeholder="Value" required>
            <input type="text" class="form-control" id="signup-notes" placeholder="Notes" required>
            <button class="btn btn-lg btn-primary btn-block form-button" id="signUp" type="button">Sign Up</button>
        </form>

    </div>
</script>

<!-- script files -->
<script type="text/javascript" src="js/underscore-min.js"></script>
<script type="text/javascript" src="js/jquery-1.11.min.js"></script>
<script type="text/javascript" src="js/backbone-min.js"></script>
<script type="text/javascript" src="js/backbone-local-storage.js"></script>
<script type="text/javascript" src="js/parse-1.2.13.min.js"></script>
<script type="text/javascript" src="js/date-format.js"></script>
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>