<!DOCTYPE html>
<html>
<head>
    <title>Parse.com Application</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

    <!-- Style customizations -->
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

<div id="parse_com_app">

    <div class="title">
        <h1>Our Parse.com App</h1>
    </div>

    <div id="content">

    </div>

</div>

<!-- Templates -->

<script type="text/template" id="forgotPasswordTemplate">
    <div class="container">

        <form class="form-signin" role="form">
            <h2 class="form-signin-heading">Please password restore details: </h2>
            <input type="text" class="form-control" placeholder="Email address" required autofocus>
            <button id="forgotPassword" class="btn btn-lg btn-primary btn-block form-button" type="button">Restore
                Password
            </button>
        </form>

    </div>
</script>

<script type="text/template" id="groupDetailsTemplate">
    <div class="container">

        <div id="equipmentDialog" title="Equipment Details" style="display: none">
            <p>This is equipment dialog</p>
        </div>

        <div id="inventoryDialog" title="Inventory Details" style="display:none">
            <p>This is inventory dialog</p>
        </div>

        <form class="form-signin" role="form">

            <div style="padding-bottom:20px">
                Welcome, <%= Parse.User.current().get('name') %>
            </div>

            <div>
                <button id="backToList" class="btn btn-primary">Logout <%= group.name %></button>
                <span style="padding-left: 8.5%; padding-right: 8.6%"><%= group.name %> Menu </span>
                <button type="button" id="editGroup" class="btn btn-primary">Edit Group Info</button>
            </div>

            <div>
                <button id="equipmentListBtn" type="button" class="btn btn-success" disabled>Equipment</button>
                <button id="inventoryListBtn" type="button" class="btn btn-success">Inventory</button>
            </div>

            <br/>

            <!-- group activities table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="text-align: center">Recent Group Activities</th>
                </tr>
                </thead>

                <tbody>

                <% if (activities.length == 0) {%>
                <tr>
                    <td>There are no activities for this group yet</td>
                </tr>
                <% } else { %>

                <% _.each(activities, function(activity) { %>
                <tr>
                    <td>
                        <%= activity.name %> <br/>
                        <span class="table-note">Created on <%=dateFormat(Date.parse(activity.createdAt), "dddd, mmmm dS, yyyy, h:MM:ss TT")%></span>
                    </td>
                </tr>

                <% }); %>

                <!-- end of else -->
                <% } %>

                </tbody>

            </table>

            <!-- equipment list -->
            <div id="equipmentList">
                <h3 class="title">Equipment List</h3>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Notes</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                    <tbody>

                    <% if (equipment.length == 0) {%>
                    <tr>
                        <td colspan="4">No equipment in this group</td>
                    </tr>
                    <% } else { %>

                    <% _.each(equipment, function(equipmentItem) { %>
                    <tr>
                        <td> <%= equipmentItem.name %></td>
                        <td> <%= equipmentItem.type %></td>
                        <td> <%= equipmentItem.notes %></td>
                        <td>
                            <button type="button" data-id="<%=equipmentItem.objectId%>"
                                    class="btn btn-info equipmentView">View/Edit
                            </button>
                        </td>
                    </tr>

                    <% }); %>

                    <!-- end of else -->
                    <% } %>

                    </tbody>

                </table>
            </div>

            <!-- computers list -->
            <div id="inventoryList" style="display:none">
                <h3 class="title">Inventory List</h3>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Value</th>
                        <th>Notes</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                    <tbody>

                    <% if (inventory.length == 0) {%>
                    <tr>
                        <td colspan="5">No computers in this group</td>
                    </tr>
                    <% } else { %>

                    <% _.each(inventory, function(computer) { %>
                    <tr>
                        <td> <%= computer.name %></td>
                        <td> <%= computer.type %></td>
                        <td> <%= computer.value %></td>
                        <td> <%= computer.notes %></td>
                        <td>
                            <button type="button" class="btn btn-info">View/Edit</button>
                        </td>
                    </tr>

                    <% }); %>

                    <!-- end of else -->
                    <% } %>

                    </tbody>

                </table>
            </div>

        </form>

    </div>
</script>

<script type="text/template" id="groupListTemplate">
    <div class="container">

        <form class="form-signin" role="form">
            <a href="#/create-group" id="createGroup" class="btn btn-lg btn-primary btn-block">Create New Group</a>
            <br/>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th colspan="2" style="text-align: center">My Groups</th>
                </tr>
                </thead>

                <tbody>

                <% if (myGroups.length == 0) { %>
                <tr>
                    <td colspan="2" class="title"> You dont have own groups. Go ahead and create them.</td>
                </tr>
                <% } else { %>
                <!-- else begin -->
                <% _.each(myGroups, function(group) { %>
                <tr>
                    <td style="width: 80%">
                        <%= group.name %> <br/>
                        <span class="table-note">Created on <%=dateFormat(Date.parse(group.createdAt), "dddd, mmmm dS, yyyy, h:MM:ss TT")%></span>
                    </td>

                    <td>
                        <a href="#/group/<%=group.objectId %>" class="btn btn-success">View</a>
                    </td>
                </tr>
                <% }); %>

                <!-- end of else -->
                <% } %>

                </tbody>

            </table>

            <!-- other groups we may request access to --->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th colspan="2" style="text-align: center">Other Groups</th>
                </tr>
                </thead>

                <tbody>

                <% if (otherGroups.length == 0) { %>
                <tr>
                    <td colspan="2" class="title"> There are no other groups for now</td>
                </tr>
                <% } else { %>

                <% _.each(otherGroups, function(group) { %>
                <tr>
                    <td style="width: 80%">
                        <%= group.name %> <br/>
                        <span class="table-note">Created on <%=dateFormat(Date.parse(group.createdAt), "dddd, mmmm dS, yyyy, h:MM:ss TT")%></span>
                    </td>

                    <td>
                        <button class="btn btn-danger">Request Access</button>
                    </td>
                </tr>
                <% }); %>

                <% } %>

                </tbody>

            </table>

        </form>

    </div>
</script>

<script type="text/template" id="loginTemplate">
    <div class="container">

        <form id="signInForm" class="form-signin" role="form">
            <h2 class="form-signin-heading">Please Sign In</h2>
            <input type="text" class="form-control" id="signin-username" placeholder="Username" required autofocus>
            <input type="password" class="form-control" id="signin-password" placeholder="Password" required>
            <!-- place for errors -->
            <div class="error" style="display:none"></div>

            <button class="btn btn-lg btn-primary btn-block form-button" id="signIn" type="button">Sign In</button>
            <div id="extraLinks">
                <a href="#/signup">Sign Up</a> <br/> <br/>
                <a href="#/forgotPassword">Forgot Password</a> <br/>
            </div>
        </form>

    </div>
</script>

<script type="text/template" id="groupNew">
    <div class="container">

        <form class="form-signin" role="form">
            <h2 class="form-signup-heading">Please fill Group details:</h2>
            <input type="text" class="form-control" id="new-group-name" placeholder="Name" required autofocus/>
            <input type="text" class="form-control" id="new-group-description" placeholder="Description" required/>
            <input type="text" class="form-control" id="new-group-notes" placeholder="Notes" required/>
            <input type="file" class="form-control" id="new-group-logo" placeholder="Logo" required/>

            <div id="create-group-error" class="error" style="display:none"></div>
            <button class="btn btn-lg btn-primary btn-block form-button" id="saveGroup" type="button">Create Group
            </button>
            <a href="#/groups" class="btn btn-lg btn-block btn-danger">Cancel</a>
        </form>

    </div>
</script>

<script type="text/template" id="equipmentEdit">
    <div class="container">

        <form class="form-signin" role="form">
            <h2 class="form-signup-heading">Please fill equipment details:</h2>
            <input type="text" class="form-control" id="new-equipment-name" placeholder="Name" required autofocus/>
            <input type="text" class="form-control" id="new-equipment-type" placeholder="Type" required/>
            <input type="text" class="form-control" id="new-equipment-value" placeholder="Value" required/>
            <input type="text" class="form-control" id="new-equipment-notes" placeholder="Notes" required/>

            <div id="equipment-edit-error" class="error" style="display:none"></div>
            <button class="btn btn-lg btn-primary btn-block form-button" id="saveEquipment" type="button">Save</button>
            <button class="btn btn-lg btn-block btn-danger">Cancel</button>
        </form>

    </div>
</script>

<script type="text/template" id="computerEdit">
    <div class="container">

        <form class="form-signin" role="form">
            <h2 class="form-signup-heading">Please fill equipment details:</h2>
            <input type="text" class="form-control" id="new-computer-name" placeholder="Name" required autofocus/>
            <input type="text" class="form-control" id="new-computer-type" placeholder="Type" required/>
            <input type="text" class="form-control" id="new-computer-value" placeholder="Value" required/>
            <input type="text" class="form-control" id="new-computer-notes" placeholder="Notes" required/>

            <div id="computer-edit-error" class="error" style="display:none"></div>
            <button class="btn btn-lg btn-primary btn-block form-button" id="saveComputer" type="button">Save</button>
            <button class="btn btn-lg btn-block btn-danger">Cancel</button>
        </form>

    </div>
</script>

<script type="text/template" id="groupEdit">
    <div class="container">

        <form class="form-signin" role="form">
            <h2 class="form-signup-heading">Please update Group details:</h2>
            <input type="text" class="form-control" id="edit-group-name" placeholder="Name" value="<%= group.name %>"
                   required autofocus/>
            <input type="text" class="form-control" id="edit-group-description" placeholder="Description"
                   value="<%= group.description %>" required/>
            <input type="text" class="form-control" id="edit-group-notes" placeholder="Notes" value="<%= group.notes %>"
                   required/>
            <input type="file" class="form-control" id="edit-group-logo" placeholder="Logo" required/>

            <div id="save-group-error" class="error" style="display:none"></div>
            <button class="btn btn-lg btn-primary btn-block form-button" id="saveEditGroup" type="button">Save Group
            </button>
            <a href="#/group/<%= group.objectId %>" class="btn btn-lg btn-block btn-danger">Cancel</a>
        </form>

    </div>
</script>

<script type="text/template" id="signUpTemplate">
    <div class="container">

        <form id="signUpForm" class="form-signin" role="form">
            <h2 class="form-signup-heading">Please fill info:</h2>

            <div id="signup-error" class="error" style="display:none"></div>
            <input type="text" class="form-control" id="signup-username" placeholder="Username"/>
            <input type="email" class="form-control" id="signup-email" placeholder="Email address" required autofocus>
            <input type="password" class="form-control" id="signup-password" placeholder="Password" required>
            <input type="password" class="form-control" id="signup-password2" placeholder="Password Again" required>
            <input type="text" class="form-control" id="signup-name" placeholder="Name" required>
            <input type="text" class="form-control" id="signup-type" placeholder="Type" required>
            <input type="text" class="form-control" id="signup-value" placeholder="Value" required>
            <input type="text" class="form-control" id="signup-notes" placeholder="Notes" required>
            <button class="btn btn-lg btn-primary btn-block form-button" id="signUp" type="button">Sign Up</button>
        </form>

    </div>
</script>

<!-- script files -->
<script type="text/javascript" src="js/underscore-min.js"></script>
<script type="text/javascript" src="js/jquery-1.11.min.js"></script>
<script type="text/javascript" src="js/backbone-min.js"></script>
<script type="text/javascript" src="js/backbone-local-storage.js"></script>
<script type="text/javascript" src="js/parse-1.2.13.min.js"></script>
<script type="text/javascript" src="js/date-format.js"></script>
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>